.jumbotron.main-picture {
    background-size: 100%;
    background: url("../images/background.jpg") top left;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
}

.jumbotron > .container {
    margin-top: 40px;
    background: rgba(255,255,255,.7);
    border-radius: 3px;
}

.body-block-price .price {
    font-size: 32px;
}

.body-block-price .panel-price {
    box-shadow: inset 0 0 5px 5px rgba(0,0,0,.1);
    background: rgba(0,0,180,.7);
    color: #fff;
}
.body-block-price .panel-heading {
    background: rgba(0,0,100,.75);
    color: rgba(255,255,255,.9);
}

.panel-pricing:hover {
    box-shadow: 0 0 5px 5px rgba(0,0,0,.2) !important;
}

.panel-pricing {
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1) !important;
    border: 0px !important;
}

.body-block-price .price-item {
    min-width: 300px; width: 32%; display: inline-block; vertical-align: top; margin-right: 10px;
}

.media > .media-object {
    width: 30%;
}
.media > .media-object img {
    width: 100%;
}

.like-a-blog {
    margin-top: 50px;
}
.like-a-blog > .container {
    box-shadow: 0 0 3px 3px rgba(0,0,0,.03);
    padding-top: 20px;
    background: rgba(0,0,0,.03);
}

.like-a-blog > .container > div {
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.like-a-blog > .container > .media > .media-body > h4 {
    margin-bottom: 20px !important;
}

.footer {
    background: rgba(0,0,150,.9) !important;
    color: rgba(255,255,255,1);
}

.body-blocks {
    background: rgba(255,0,0,.01);
    box-shadow: 0 0 3px 35px rgba(255,0,0,0.03);
}

.like-a-blog .bg {
    height: 230px;
    background: transparent url("../images/blog-bg.jpg") no-repeat center;
    background-size: cover;
    margin: 10px 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.like-a-blog .bg.reviews {
    background: transparent url("../images/blog-bg-reviews.jpg") no-repeat center;
    background-size: cover;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: rgba(0,0,200,.7) !important;
    border-color: rgba(0,0,200,.7) !important;
    color: #fff !important;
}

.pagination > li > a, .pagination > li > span {
    color: rgba(0,0,255,.8) !important;
}

body > .wrap > .body { display: table; max-height: 620px; margin-top: 50px; }
body > .wrap > .body > .part { height: 100%; max-height: 620px; width: 50%; border: 0px; border-collapse: collapse; background-size: 100% !important;
    display: table-cell; overflow: hidden; margin-bottom: 30px; }
body > .wrap > .body > .part:hover { background-size: 120% !important; }
body > .wrap > .body > .part:nth-child(1) { background: transparent url('../images/fitness.jpg') center center no-repeat; float: left; }
body > .wrap > .body > .part:nth-child(2) { background: transparent url('../images/pilates.jpg') center center no-repeat; float: right; }

body > .wrap > .body > .part > .content { width: 100%; height: 100%; text-align: center; display: table-cell; vertical-align: middle;
    position: relative; opacity: .8; -moz-opacity: .8; padding: 50px 0; }
body > .wrap > .body > .part:hover > .content { opacity: 1; -moz-opacity: 1; }
body > .wrap > .body > .part:hover > .content {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0.3+0,0.3+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4dffffff',GradientType=0 ); /* IE6-9 */
}
body > .wrap > .body > .part > .content > .title { font-size: 200%; margin-bottom: 30px; color: #fff; padding: 10px; background: rgba(0,0,0,.5); }
body > .wrap > .body > .part > .content > .description { font-size: 120%; color: rgba(255,255,255,.9); margin-bottom: 30px; font-weight: lighter;
    text-align: center; padding: 15px;
}
/*body > .wrap > .body > .part > .content > a { display: inline-block; text-align: center; font-size: 16px; padding: 10px 30px;*/
    /*border-radius: 20px; background: #fff; color: #000; height: 20px; }*/
/*body > .wrap > .body > .part > .content > a:hover { background: #000; color: #fff; }*/
body > .wrap > .body > .part > .content > div { position: relative; top: +20%; }
body > .wrap > .body > .part:hover > .content > div { top: 0; }
body > .wrap > .body > .part > .content > .btn { font-size: 18px; }

.popup { max-width: 500px; display: none; }
.popup img { width: 100%; margin: 0px; padding: 0px; display: block; }
.popup > .content { background: #fff; color: #000; text-align: center; padding: 30px 0px; }
.popup > .content > div { margin: 20px 0px; display: inline-block; width: 400px; padding: 0 50px; }
.popup > .content > .title { font-size: 30px; font-weight: bold }
.popup > .content > .description { font-size: 16px; }
.popup > .content > a { display: inline-block; height: 50px; padding: 10px 30px; border-radius: 7px; background: transparent;
    border: 2px #000 solid; text-align: center; font-size: 16px; line-height: 30px; color: rgba(0,0,0,1); text-decoration: none;
    margin-bottom: 10px; }
.popup > .content > a.btn { color: rgba(255,255,255,1) }


.close { font-size: 60px; color: #fff; position: absolute; top: 5px; right: 5px; display: inline-block;
    font-family: Arial; font-stretch: condensed; font-weight: lighter; }
.close:hover { color: #aaa; }

.btn-danger {  background-color: rgba(0,50,122,1) !important; border-color: rgba(0,50,122,1) !important; }
.clear { clear: both; }